.signup {
  padding: 50px;
  text-align: center;
}

.signup h2 {
  margin: 0 0 5%;
}

/* .signup input {
  margin: 0 auto;
  padding: 10px 15px;
} */

.signup input {
  padding: 3% 4%;
  margin: 0 0 5%; 
  /* margin 5% helps make space between input and button */
  width: 70%;
}

.signup button {
  background: var(--primary);
  border: none;
  border-radius: 5px;
  color: var(--white);
  font-family: var(--font-zen);
  /* margin: 0 25px; */
  margin: auto; 
  padding: 2% 3%;
}
