footer {
  background: var(--black);
  color: var(--white);
  text-align: center;
  padding: 5% 0 5%; /*using percentages makes stuff responsive*/
  /* added next lines */
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

footer p {
  margin: 0;
}
